<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>ValidationServ</servlet-name>
        <servlet-class>ValidationServ</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ValidationServ</servlet-name>
        <servlet-class>ValidationServ</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>com.login.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConnectionProvider</servlet-name>
        <servlet-class>com.connection.ConnectionProvider</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ValidationServ</servlet-name>
        <url-pattern>/validationServ</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ValidationServ</servlet-name>
        <url-pattern>/ValidationServ</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConnectionProvider</servlet-name>
        <url-pattern>/ConnectionProvider</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
